@keyframes move-arrows-left {
    0%
     {
        transform: translateX(-1000px);
        opacity: 0;
    }
        100% {
            opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-arrows-right {
    0%{
        opacity: 0;
        transform: translateX(+1000px);
    }  100% {
        opacity: 1;
       transform: translateX(0);
    }
}

@keyframes spin {
0% {
        transform: rotate(45deg);
    }
     
      
    100% {
        transform: rotate(1125deg);
       
     
    }
}

@keyframes move-top {
    0% {
        transform: translateY(+2000px) translateX(-50%);
    }
   
    100% {
        transform: translateY(0) translateX(-50%);
       
    }
}

.wrapperAnimation {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 76px);
    width: 100%;
    z-index: 30;
}



.arrowLeft {
    opacity: 0;
    width: calc(80vh / 1.98);
    height: 80vh;
    background-image: url('../../../public/arrowLeft.png');
    background-size: cover;
    margin: 0 10px;  
    animation: move-arrows-left 2s ease-in-out forwards;
    animation-delay: 1s;
}

.arrowRight {
    opacity: 0;
    width: calc(80vh / 1.98);
    height: 80vh;
    background-image: url('../../../public/arrowRight.png');
    background-size: cover;
    margin: 0 10px;
    animation: move-arrows-right 2s ease-in-out forwards;
    animation-delay: 1s;
}

.square {
    margin-top: calc(100vh / 3);
    width: 90px;
    height: 90px;
    background-color: #020F13;
    border: 1px solid #000;
    animation: spin 3s linear forwards;
}

.wrapperContent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 50;
    animation: move-top 4s ease-in-out forwards;
    height: 100vh;
}

.text {
    width: 640px;
    color: #FFF;
    text-align: center;
    font-family: Inconsolata;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
       
}

.title {
    width: 100%;
    color: #FFF;
    font-family: Russo One;;
    font-size: 96px;
    font-weight: 600;
    margin-top: 180px;
    text-align: center;
    z-index: 60;
  
}

.btn {
    display: block;
    font-family: Poppins;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 67px;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;


              
}

.btn:hover {
    box-shadow: 0px 0px 10px white;
}
